body {
  background-image: url("../image/bg/parchment-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  align-items: center;
  height: 100vh;
}

.contenedor__header--button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.ultima__puntuacion {
  background-color: #fca12d;
  width: 26%;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.5);
  margin-left: 6rem;
}

.boton__estilo {
  background-color: #fca12d;
  padding: 1rem;
  border-radius: 5px;
  width: 250px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.footer {
  width: 70%;
  padding-top: 20rem;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.donate-icon {
  margin: 0 0.5rem;
  font-size: 2rem;
}

.social-icon {
  margin: 0 0.5rem;
  font-size: 2rem;
}

.icon-container .fab,
.icon-container .fas {
  line-height: 60px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.6s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.icon-container .fab:hover,
.icon-container .fas:hover {
  transform: translateY(-10%);
  color: white;
}

.icon-container .fa-paypal:hover {
  background-color: #2790c3;
}

.icon-container .fa-stripe:hover {
  background-color: #5167fc;
}

.icon-container .fa-coffee:hover {
  background-color: #ffee00;
  color: black;
}

.icon-container .fa-twitter:hover {
  background-color: #0077b5;
}

.icon-container .fa-instagram:hover {
  background-color: #c13584;
}

.icon-container .fa-facebook:hover {
  background-color: #3b5998;
}

.info-score {
  text-align: center;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
  }

  .info-score {
    padding-top: 60px;
  }
}
