body{
  background-image: url("../image/bg/parchment-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  align-items: center;
  height: 100vh;
}

.contenedor__header--button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.ultima__puntuacion {
  background-color: #fca12d;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.5);
}

.boton__estilo {
  background-color: #fca12d;
  padding: 1rem;
  border-radius: 5px;
  width: 250px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.footer {
  width: 40%;
  padding-top: 25rem;
  display: flex;
  justify-content: space-around;
}

.download-buttons {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fca12d;
  border-radius: 100px;
}

.download-buttons__text {
  float: left;
  font-weight: bold;
  margin-left: 5px;
}

svg {
  padding-right: 5px;
}

.redessociales{
    font-size: 16px;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 1rem;
  }
}
