body {
  background-image: url("../image/bg/parchment-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font: var(--h1);
  color: var(--gray10);
}

h2{
  font: var(--h2);
  color: var(--gray10);
}

h4{
  font: var(--h4ui);
  color: var(--gray10);
}

p{
  font: var(--p);
  color: var(--gray10);
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--spacing4);
  align-items: center;
}

.contenedor__header--button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--spacing4);
  gap: var(--spacing3); 
}

.info-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.ultima__puntuacion {
  width: 50%;
  padding: var(--spacing2);
  border-radius: 20px;
  box-shadow: 5px 6px 4px rgba(0, 0, 0, 0.5);
  margin: var(--spacing3) 0;
  background-color: var(--colorb-darker-1);
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding-top: var(--spacing8);
}

.donate-icon {
  margin: 0 0.5rem;
  font-size: 2rem;
}

.social-icon {
  margin: 0 0.5rem;
  font-size: 2rem;
}

.icon-container .fab,
.icon-container .fas {
  line-height: 60px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.6s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.icon-container .fab:hover,
.icon-container .fas:hover {
  transform: translateY(-10%);
}

.myBtn {
  background-color: var(--colora-darker1);
}

.myBtn::after {
  color: var(--gray90);
  background-color: var(--colora);
  border: 2px solid var(--colora-darker1);
}

.myBtn:focus-visible {
  outline-color: var(--gray10);
}

.myBtnSec {
  transition: background-color 200ms ease-out, transform 200ms ease-out;
}

.myBtnSec::after {
  background-color: var(--colorb);
  border: 2px solid var(--colora);
  color: var(--colora);
  transition: background-color 200ms ease-out, border-color 200ms ease-out,
    color 200ms ease-out;
}

.myBtnSec:hover {
  background-color: var(--colorb);
}

.myBtnSec:hover::after {
  border: 2px solid var(--gray10);
  color: var(--gray10);
  background-color: var(--colorb-darker-1);
}

.icon-container .fab:hover,
.icon-container .fas:hover {
  color: white;
}

.icon-container .fa-paypal:hover {
  background-color: var(--color-paypal);
}

.icon-container .fa-stripe:hover {
  background-color: var(--color-stripe);
}

.icon-container .fa-coffee:hover {
  background-color: var(--color-coffee);
  color: black;
}

.icon-container .fa-twitter:hover {
  background-color: var(--color-twitter);
}

.icon-container .fa-instagram:hover {
  background-color: var(--color-instagram);
}

.icon-container .fa-facebook:hover {
  background-color: var(--color-facebook);
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: var(--spacing7);
  }

  .info-score {
    padding-top: var(--spacing4);
  }
}
