*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --gray10: hsl(0, 0%, 10%);
  --gray30: hsl(0, 0%, 30%);
  --gray50: hsl(0, 0%, 50%);
  --gray70: hsl(0, 0%, 70%);
  --gray90: hsl(0, 0%, 90%);

  --colora: hsl(221.4, 100%, 46.1%);
  --colora-darker1: hsl(221.4, 100%, 16.1%);
  --colora-lighter1: hsl(221.4, 100%, 56.1%);
  --colora-lighter2: hsl(221.4, 100%, 66.1%);
  --colora-lighter3: hsl(221.4, 100%, 76.1%);

  --colorb: hsl(60, 91%, 93%);
  --colorb-darker-1: hsl(60, 91%, 83%);
  --colorb-darker-2: hsl(60, 91%, 73%);
  --colorb-darker-3: hsl(60, 91%, 63%); 
  --colorb-darker-4: hsl(60, 91%, 53%); 

  --color-paypal: #2790c3;
  --color-stripe: #5167fc;
  --color-coffee: #ffee00;
  --color-twitter: #0077b5;
  --color-instagram: #c13584;
  --color-facebook: #3b5998;



  
  --color-text: #141414;
  --color-button-foreground: #0049eb;
  --color-button-background: #2b3241;
  --color-btn-donate: #325196;
  --color-btn-donate-hover: #2b3241;
  --color-card-background: #eaa400;





  /*Spacing*/
  --spacing0: 0.25rem; /*4px*/
  --spacing1: 0.5rem; /*8px*/
  --spacing2: 1rem; /*16px*/
  --spacing3: 1.5rem; /*24px*/
  --spacing4: 2.5rem; /*40px*/
  --spacing5: 5rem; /*80px*/
  --spacing6: 10rem; /*160px*/
  --spacing7: 12.5rem; /*200px*/

  --font-xxs: 0.25rem;
  --font-xs: 0.5rem;
  --font-s: 0.75rem;
  --font-m: 1rem;
  --font-l: 1.25rem;
  --font-xl: 1.75rem;
  --font-xxl: 2.5rem;
  --font-xxxl: 5.5rem;

  --global-line-height: 1.375em;

  /* main page font styles*/
  --ff: "Bree Serif", sans-serif;
  --ff2: "Noto Sans JP", sans-serif;
  --h1: bold 4rem/1em var(--ff);
  --h2: bold 3rem/1.2em var(--ff2);
  --h3: bold 2.25rem/1.2em var(--ff2);
  --h4: bold 1.5rem/1.6em var(--ff2);
  --big: bold 1.25rem/1.6em var(--ff2);
  --p: bold 1rem/1.6em var(--ff2);
  --small: 0.75rem/2em var(--ff2);

  /* UIs font styles*/
  --h1ui: bold 3rem/1.2em var(--ff);
  --h2ui: bold 2.25rem/1.2em var(--ff);
  --h3ui: bold 1.5rem/1.2em var(--ff);
  --h4ui: bold 1.12rem/1.6em var(--ff);
  --bigui: 1rem/1.6em var(--ff);
  --pui: 0.8rem/1.6em var(--ff);
  --smallui: 0.75rem/1.8em var(--ff);


  /*Icons*/
  --icon-size1: 2rem;
  /*logo size*/
  --logo-size1: 15rem;
}

button {
  appearance: none;
  background: transparent;
  border: none;
  cursor: pointer;
  isolation: isolate;
}

a {
  text-decoration: none;
}

/*Primary Button Style*/
.myBtn {
  --_y: -4px;
  line-height: 1.5;
  border-radius: 5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.myBtn::after {
  content: attr(aria-label);
  font: var(--p);
  padding: var(--spacing2) var(--spacing4);
  border-radius: inherit;
  transform: translateY(var(--_y));
  transition: 200ms ease-out;
}

.myBtn:hover {
  --_y: -8px;
}

.myBtn:active {
  --_y: 0.5px;
}

.myBtn:active::after {
  transition: 50ms ease-out;
}

/*Secondary Button Style*/
.myBtnSec {
  border-radius: 5rem;
  position: relative;
  bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.myBtnSec::after {
  content: attr(aria-label);
  font: var(--p);
  padding: var(--spacing2) var(--spacing4);
  border-radius: inherit;
}

/*<weight>: Use a value from 100 to 900
<uniquifier>: Use a unique and descriptive class name*/

.noto-sans-jp-font {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.noto-sans-jp-normal {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.bree-serif-regular {
  font-family: "Bree Serif", serif;
  font-weight: 400;
  font-style: normal;
}
