body {
  background-image: url("../image/bg/parchment-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  font: var(--h1);
  color: var(--gray10);
}

h4 {
  font: var(--h4);
  color: var(--gray10);
}

p {
  font: var(--p);
  color: var(--gray10);
  text-align: center;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--spacing4);
  align-items: center;
  height: 100vh;
}

.contenedor__header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-bottom: var(--spacing6);
}

.eventos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
  place-items: center;
}

.scoreboard {
  position: absolute;
  top: 90px;
  right: 150px;
  padding: 1rem;
}

.card {
  position: relative;
  width: 350px;
  aspect-ratio: 6.3 / 8.8;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 1em;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.2));
  transition: transform 0.5s ease, filter 0.2s ease;
  cursor: pointer;
  border: 0;
  box-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;

  &:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 8px 16px rgba(0, 0, 0, 0.5));
  }
}

.carta-cara {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  backface-visibility: hidden;
  border-radius: 1em;
  background-color: var(--colorb);
  background-image: var(--gray10);
  z-index: 1;
}

.carta-frente {
  transform: rotateY(0deg);
  padding: 1em 1em 1em 1em;
}

.carta-arte {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 5.9/6.8;
  overflow: hidden;
  border-radius: 0.5em;
  outline: solid 2px var(--gray10);

  img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.carta-texto {
  margin-top: 1em;
  position: relative;
  padding: var(--spacing0) var(--spacing2);
  border-radius: 0.5em;
  outline: solid 1px var(--gray10);
  background-color: var(--colorb-darker-1);
  height: 30%;
}

.overlay-borde {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: 2;
}

@media (max-width: 1533px) {
  .scoreboard {
    top: 140px;
  }

  .card {
    width: 280px;
  }
  p {
  font: var(--small);
  color: var(--gray10);
  text-align: center;
}
}

@media (max-width: 1269px) {
  .card {
    width: 250px;
  }

  .scoreboard {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1149px) {
  .card {
    width: 220px;
  }
}

@media (max-width: 1002px) {
  .eventos {
    grid-template-columns: 1fr 1fr;
  }

  .card {
    width: 200px;
  }

  .contenedor__header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: var(--spacing3);
  }
}
