body {
  background-image: url("../image/bg/parchment-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  height: 100vh;
}

h1 {
  font: var(--h1);
  color: var(--gray10);
}

h3 {
  font: var(--h3);
  color: var(--gray10);
}

h4 {
  font: var(--h4);
  color: var(--gray10);
}

p {
  font: var(--p);
  color: var(--gray10);
  margin-top: var(--spacing4);
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contenedor__header {
  text-align: center;
  padding: var(--spacing2);
}

.contenedor__header--button {
  padding-top: var(--spacing5);
  display: flex;
  justify-content: space-evenly;
}

.logo {
  height: var(--logo-size1);
  transform: translateY(-0px);
}

.donate-icon {
  margin: 0 0.5rem;
  font-size: var(--icon-size1);
}

.social-icon {
  margin: 0 0.5rem;
  font-size: var(--icon-size1);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: var(--spacing7);
}

.icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icon-container .fab,
.icon-container .fas {
  line-height: 60px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.6s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.icon-container .fab:hover,
.icon-container .fas:hover {
  transform: translateY(-10%);
  color: var(--gray90);
}

.myBtn {
  background-color: var(--colora-darker1);
}

.myBtn::after {
  color: var(--gray90);
  background-color: var(--colora);
  border: 2px solid var(--colora-darker1);
}

.myBtn:focus-visible {
  outline-color: var(--gray10);
}

.myBtnSec {
  transition: background-color 200ms ease-out, transform 200ms ease-out;
}

.myBtnSec::after {
  background-color: var(--colorb);
  border: 2px solid var(--colora);
  color: var(--colora);
  transition: background-color 200ms ease-out, border-color 200ms ease-out,
    color 200ms ease-out;
}

.myBtnSec:hover {
  background-color: var(--colorb);
}

.myBtnSec:hover::after {
  border: 2px solid var(--gray10);
  color: var(--gray10);
  background-color: var(--colorb-darker-1);
}

.icon-container .fab:hover,
.icon-container .fas:hover {
  color: var(--gray90);
}

.icon-container .fa-paypal:hover {
  background-color: var(--color-paypal);
}

.icon-container .fa-stripe:hover {
  background-color: var(--color-stripe);
}

.icon-container .fa-coffee:hover {
  background-color: var(--color-coffee);
  color: var(--gray10);
}

.icon-container .fa-twitter:hover {
  background-color: var(--color-twitter);
}

.icon-container .fa-instagram:hover {
  background-color: var(--color-instagram);
}

.icon-container .fa-facebook:hover {
  background-color: var(--color-facebook);
}

@media (max-width: 660px) {
  .logo {
    height: 150px;
  }
  .contenedor__header--button {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 1rem;
  }

  .container {
    margin-top: var(--spacing6);
  }

  h1 {
    font: var(--h2);
    color: var(--gray10);
  }

  h3 {
    font: var(--h4);
    color: var(--gray10);
  }

  h4 {
    font: var(--big);
    color: var(--gray10);
  }
}
