body {
  background-image: url("../image/bg/parchment-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  height: 100vh;
}

.mainTextColor {
  color: var(--color-text);
}

.basicTextStyle{
  line-height: var(--global-line-height);
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contenedor__header {
  text-align: center;
  padding: 1rem;
  margin-bottom: var(--margin-xxl);
}

.contenedor__header--button {
  padding-top: 60px;
  display: flex;
  justify-content: space-evenly;
}

.titulo-estilo {
  font-size: var(--font-xxxl);
}

.logo {
  height: 250px;
  transform: translateY(-0px);
}

.donate-icon {
  margin: 0 0.5rem;
  font-size: 2rem;
}

.social-icon {
  margin: 0 0.5rem;
  font-size: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 150px;
}

.icon-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icon-container .fab,
.icon-container .fas {
  line-height: 60px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  transition: 0.6s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.icon-container .fab:hover,
.icon-container .fas:hover {
  transform: translateY(-10%);
  color: white;
}

.myBtn {
  color: #000;
  background-color: var(--color-button-background);
}

.myBtn::after {
  color: white;
  background-color: var(--color-button-foreground);
  border: 2px solid var(--color-button-background);
}

.myBtn:focus-visible {
  outline-color: #000;
}

.myBtnSec {
  transition: background-color 200ms ease-out, transform 200ms ease-out;
}

.myBtnSec:hover {
  background-color: rgb(228, 228, 228);
}

.myBtnSec:hover::after {
  border: 2px solid var(--color-button-foreground);
  color: #000;
}

.myBtnSec::after {
  border: 2px solid rgba(43, 50, 65, 0.8);
  color: var(--color-button-foreground);
}

.icon-container .fab:hover,
.icon-container .fas:hover {
  color: white;
}

.icon-container .fa-paypal:hover {
  background-color: var(--color-paypal);
}

.icon-container .fa-stripe:hover {
  background-color: var(--color-stripe);
}

.icon-container .fa-coffee:hover {
  background-color: var(--color-coffee);
  color: black;
}

.icon-container .fa-twitter:hover {
  background-color: var(--color-twitter);
}

.icon-container .fa-instagram:hover {
  background-color: var(--color-instagram);
}

.icon-container .fa-facebook:hover {
  background-color: var(--color-facebook);
}

.ultima__puntuacion {
  background-color: var(--color-card-background);
}

.sm-text {
  color: var(--color-text);
  line-height: var(--global-line-height);
  margin-bottom: 16px;  
}

@media (max-width: 768px) {
  .footer {
    width: 100%;
    height: 30rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 440px;
  }
}

@media (max-width: 660px) {
  .logo {
    height: 150px;
  }
  .contenedor__header--button {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 1rem;
  }

  .donate-icon {
    font-size: 1.4rem;
  }

  .social-icon {
    font-size: 2rem;
  }

  .icon-container .fab,
  .icon-container .fas {
    line-height: 60px;
    width: 60px;
    height: 60px;
  }

  .container {
      margin-top: 190px;
  }

  .titulo-estilo {
  font-size: var(--font-xxl);
  }
  .basicTextStyle{
    font-size: var(--font-l);
  }
}
